In [5]:
import pandas as pd 
csv_df = pd.read_csv('/home/echelon/Music/Join_data_not_clean.csv') 
csv_df

,MOBILE_NUMBER,CIRCLE_ID,CIRCLE_NAME,LOC_OG_T2O_MOU,STD_OG_T2O_MOU,LOC_IC_T2O_MOU,LAST_DATE_OF_MONTH,ARPU,ONNET_MOU,OFFNET_MOU,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlyrecharges,totalcharges,churn
0,7000000256,305,BH,0.0,0.0,0.0,31-07-2014 00:00,1260.65,428.23,1488.51,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
1,7000000256,305,BH,0.0,0.0,0.0,31-08-2014 00:00,1484.67,784.58,1557.94,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
2,7000000256,305,BH,0.0,0.0,0.0,30-09-2014 00:00,1128.19,2476.36,427.86,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
3,7000000267,302,KOL,0.0,0.0,0.0,30-06-2014 00:00,405.76,54.88,93.68,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
4,7000000267,302,KOL,0.0,0.0,0.0,31-07-2014 00:00,232.14,100.76,118.66,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398290,7002402996,304,ORI,0.0,0.0,0.0,31-08-2014 00:00,722.37,1074.98,304.48,...,No,No,No,No,Month-to-month,Yes,Electronic check,76.10,1712.70,Yes
398291,7002402996,304,ORI,0.0,0.0,0.0,30-09-2014 00:00,734.42,1308.29,302.79,...,Yes,No,No,No,One year,No,Mailed check,61.20,2021.20,No
398292,7002403039,302,KOL,0.0,0.0,0.0,30-06-2014 00:00,142.14,0.31,18.33,...,Yes,Yes,No,No,One year,No,Mailed check,86.80,1940.80,No
398293,7002403039,302,KOL,0.0,0.0,0.0,31-07-2014 00:00,170.91,6.46,27.43,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,89.35,567.80,No
398294,7002403039,302,KOL,0.0,0.0,0.0,31-08-2014 00:00,200.04,6.73,39.78,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,19.70,220.35,No

In [6]:
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398295 entries, 0 to 398294
Data columns (total 86 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   MOBILE_NUMBER           398295 non-null  int64
 1   CIRCLE_ID               398295 non-null  int64
 2   CIRCLE_NAME             398295 non-null  object
 3   LOC_OG_T2O_MOU          394895 non-null  float64
 4   STD_OG_T2O_MOU          394895 non-null  float64
 5   LOC_IC_T2O_MOU          394895 non-null  float64
 6   LAST_DATE_OF_MONTH      396636 non-null  object
 7   ARPU                    398295 non-null  float64
 8   ONNET_MOU               379077 non-null  float64
 9   OFFNET_MOU              379077 non-null  float64
 10  ROAM_IC_MOU             379077 non-null  float64
 11  LOC_OG_T2T_MO           379077 non-null  float64
 12  LOC_OG_T2M_MOU          379077 non-null  float64
 13  LOC_OG_T2F_MOU          379077 non-null  float64
 14  LOC_OG_T2C_MOU          379077 non-null  float64
 15  LOC_OG_MOU              379077 non-null  float64
 16  STD_OG_T2T_MOU          379077 non-null  float64
 17  STD_OG_T2M_MOU          379077 non-null  float64
 18  STD_OG_T2F_MOU          379077 non-null  float64
 19  STD_OG_T2C_MOU          379077 non-null  float64
 20  STD_OG_MOU              379077 non-null  float64
 21  ISD_OG_MOU              379077 non-null  float64
 22  SPL_OG_MOU              379077 non-null  float64
 23  OG_OTHERS               379077 non-null  float64
 24  TOTAL_OG_MOU            398295 non-null  float64
 25  LOC_IC_T2T_MOU          379077 non-null  float64
 26  LOC_IC_T2M_MOU          379077 non-null  float64
 27  LOC_IC_T2F_MOU          379077 non-null  float64
 28  LOC_IC_MOU              379077 non-null  float64
 29  STD_IC_T2T_MOU          379077 non-null  float64
 30  STD_IC_T2M_MOU          379077 non-null  float64
 31  STD_IC_T2F_MOU          379077 non-null  float64
 32  STD_IC_T2O_MOU          379077 non-null  float64
 33  STD_IC_MOU              379077 non-null  float64
 34  TOTAL_IC_MOU            398295 non-null  float64
 35  SPL_IC_MOU              379077 non-null  float64
 36  ISD_IC_MOU              379077 non-null  float64
 37  IC_OTHERS               379077 non-null  float64
 38  TOTAL_RECH_NUM          398295 non-null  int64
 39  TOTAL_RECH_AMT          398295 non-null  int64
 40  MAX_RECH_AMT            398295 non-null  int64
 41  DATE_OF_LAST_RECH       388240 non-null  object
 42  LAST_DAY_RCH_AMT        398295 non-null  int64
 43  DATE_OF_LAST_RECH_DATA  102985 non-null  object
 44  TOTAL_RECH_DATA         102985 non-null  float64
 45  MAX_RECH_DATA           102985 non-null  float64
 46  COUNT_RECH_2G           102985 non-null  float64
 47  COUNT_RECH_3G           102985 non-null  float64
 48  AV_RECH_AMT_DATA        102985 non-null  float64
 49  VOL_2G_MB               398295 non-null  float64
 50  VOL_3G_MB               398295 non-null  float64
 51  ARPU_3G                 102985 non-null  float64
 52  ARPU_2G                 102985 non-null  float64
 53  NIGHT_PCK_USER          102985 non-null  float64
 54  MONTHLY_2G              398295 non-null  int64
 55  SACHET_2G               398295 non-null  int64
 56  MONTHLY_3G              398295 non-null  int64
 57  SACHET_3G               398295 non-null  int64
 58  FB_USER                 102985 non-null  float64
 59  AON                     398295 non-null  int64
 60  AUG_VBC_3G              398295 non-null  float64
 61  JUL_VBC_3G              398295 non-null  float64
 62  JUN_VBC_3G              398295 non-null  float64
 63  SEP_VBC_3G              398295 non-null  float64
 64  LAT                     398295 non-null  float64
 65  LONGITUDE               398295 non-null  float64
 66  gender                  398295 non-null  object
 67  seniorcitizen           398295 non-null  int64
 68  partner                 398295 non-null  object
 69  dependents              398295 non-null  object
 70  tenure                  398295 non-null  int64
 71  phoneservice            398295 non-null  object
 72  multiplelines           398295 non-null  object
 73  internetservice         398295 non-null  object
 74  onlinesecurity          398295 non-null  object
 75  onlinebackup            398295 non-null  object
 76  deviceprotection        398295 non-null  object
 77  techsupport             398295 non-null  object
 78  streamingtv             398295 non-null  object
 79  streamingmovies         398295 non-null  object
 80  contract                398295 non-null  object
 81  paperlessbilling        398295 non-null  object
 82  paymentmethod           398295 non-null  object
 83  monthlyrecharges        398295 non-null  float64
 84  totalcharges            398295 non-null  float64
 85  churn                   398295 non-null  object
dtypes: float64(53), int64(13), object(20)
memory usage: 261.3+ MB

In [8]:
csv_df.describe()

,MOBILE_NUMBER,CIRCLE_ID,LOC_OG_T2O_MOU,STD_OG_T2O_MOU,LOC_IC_T2O_MOU,ARPU,ONNET_MOU,OFFNET_MOU,ROAM_IC_MOU,LOC_OG_T2T_MO,...,AUG_VBC_3G,JUL_VBC_3G,JUN_VBC_3G,SEP_VBC_3G,LAT,LONGITUDE,seniorcitizen,tenure,monthlyrecharges,totalcharges
count,3.982950e+05,398295.000000,394895.0,394895.0,394895.0,398295.000000,379077.000000,379077.000000,379077.000000,379077.000000,...,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000,398295.000000
mean,7.001208e+09,305.500496,0.0,0.0,0.0,276.758290,132.365034,195.520913,7.699025,46.026407,...,68.401286,67.024359,59.982753,3.313085,24.023161,85.856673,0.169091,35.398898,68.626586,2561.812903
std,6.957357e+05,2.872248,0.0,0.0,0.0,338.662475,305.862801,322.373490,68.383826,151.398505,...,267.759449,271.604905,253.916158,32.476456,2.843272,5.854561,0.374833,23.797641,29.442277,2260.914221
min,7.000000e+09,301.000000,0.0,0.0,0.0,-2258.710000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,18.520210,73.844738,0.000000,2.000000,18.950000,33.600000
25%,7.000606e+09,303.000000,0.0,0.0,0.0,83.560000,6.440000,31.460000,0.000000,1.560000,...,0.000000,0.000000,0.000000,0.000000,22.572645,85.124513,0.000000,12.000000,45.400000,644.350000
50%,7.001205e+09,306.000000,0.0,0.0,0.0,190.910000,32.260000,91.890000,0.000000,11.630000,...,0.000000,0.000000,0.000000,0.000000,23.802123,85.808092,0.000000,33.000000,75.000000,1782.400000
75%,7.001812e+09,308.000000,0.0,0.0,0.0,366.205000,115.640000,226.930000,0.000000,40.040000,...,0.000000,0.000000,0.000000,0.000000,25.759202,91.051914,0.000000,58.000000,91.700000,4131.950000
max,7.002411e+09,310.000000,0.0,0.0,0.0,38805.620000,10752.560000,14007.340000,15371.040000,10752.560000,...,12916.220000,9165.600000,11166.210000,2618.570000,28.634022,93.174326,1.000000,72.000000,116.250000,8468.200000

In [46]:
import pandas as pd 
from pyhive import hive

host='164.52.192.120',
port=10000,
database='default',
username='hive',                               
password='password',                              
auth='CUSTOM'                                                               
# query = 'show partion'
query = 'select * from ml_telco_cdr where circle_name = "ASM"'
# query = 'select distinct circle_name from ml_telco_cdr'
# query = 'select distinct circle_name from ml_telco_cdr'

# '''ml_telco.ml_telco_cdr'''

try:

    conn = hive.connect(host='164.52.192.120',
                    port='10000',
                    database='ml_telco',
                    username='hive',
                    password='password',
                    auth='CUSTOM')
    hive_df = pd.read_sql(query, conn)
#     print(df['ml_telco_cdr.circle_name'].sample(20))
#     print(df.columns)
    print(list(hive_df.columns))
    print('count is running ...')
except Exception as e:
    print(f'{e}')
    
    
# distinct

/home/echelon/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

['ml_telco_cdr.mobile_number', 'ml_telco_cdr.circle_id', 'ml_telco_cdr.circle_name', 'ml_telco_cdr.loc_og_t2o_mou', 'ml_telco_cdr.std_og_t2o_mou', 'ml_telco_cdr.loc_ic_t2o_mou', 'ml_telco_cdr.last_date_of_month', 'ml_telco_cdr.arpu', 'ml_telco_cdr.onnet_mou', 'ml_telco_cdr.offnet_mou', 'ml_telco_cdr.roam_ic_mou', 'ml_telco_cdr.loc_og_t2t_mo', 'ml_telco_cdr.loc_og_t2m_mou', 'ml_telco_cdr.loc_og_t2f_mou', 'ml_telco_cdr.loc_og_t2c_mou', 'ml_telco_cdr.loc_og_mou', 'ml_telco_cdr.std_og_t2t_mou', 'ml_telco_cdr.std_og_t2m_mou', 'ml_telco_cdr.std_og_t2f_mou', 'ml_telco_cdr.std_og_t2c_mou', 'ml_telco_cdr.std_og_mou', 'ml_telco_cdr.isd_og_mou', 'ml_telco_cdr.spl_og_mou', 'ml_telco_cdr.og_others', 'ml_telco_cdr.total_og_mou', 'ml_telco_cdr.loc_ic_t2t_mou', 'ml_telco_cdr.loc_ic_t2m_mou', 'ml_telco_cdr.loc_ic_t2f_mou', 'ml_telco_cdr.loc_ic_mou', 'ml_telco_cdr.std_ic_t2t_mou', 'ml_telco_cdr.std_ic_t2m_mou', 'ml_telco_cdr.std_ic_t2f_mou', 'ml_telco_cdr.std_ic_t2o_mou', 'ml_telco_cdr.std_ic_mou', 'ml_telco_cdr.total_ic_mou', 'ml_telco_cdr.spl_ic_mou', 'ml_telco_cdr.isd_ic_mou', 'ml_telco_cdr.ic_others', 'ml_telco_cdr.total_rech_num', 'ml_telco_cdr.total_rech_amt', 'ml_telco_cdr.max_rech_amt', 'ml_telco_cdr.date_of_last_rech', 'ml_telco_cdr.last_day_rch_amt', 'ml_telco_cdr.date_of_last_rech_data', 'ml_telco_cdr.total_rech_data', 'ml_telco_cdr.max_rech_data', 'ml_telco_cdr.count_rech_2g', 'ml_telco_cdr.count_rech_3g', 'ml_telco_cdr.av_rech_amt_data', 'ml_telco_cdr.vol_2g_mb', 'ml_telco_cdr.vol_3g_mb', 'ml_telco_cdr.arpu_3g', 'ml_telco_cdr.arpu_2g', 'ml_telco_cdr.night_pck_user', 'ml_telco_cdr.monthly_2g', 'ml_telco_cdr.sachet_2g', 'ml_telco_cdr.monthly_3g', 'ml_telco_cdr.sachet_3g', 'ml_telco_cdr.fb_user', 'ml_telco_cdr.aon', 'ml_telco_cdr.aug_vbc_3g', 'ml_telco_cdr.jul_vbc_3g', 'ml_telco_cdr.jun_vbc_3g', 'ml_telco_cdr.sep_vbc_3g', 'ml_telco_cdr.lat', 'ml_telco_cdr.longitude', 'ml_telco_cdr.gender', 'ml_telco_cdr.seniorcitizen', 'ml_telco_cdr.partner', 'ml_telco_cdr.dependents', 'ml_telco_cdr.tenure', 'ml_telco_cdr.phoneservice', 'ml_telco_cdr.multiplelines', 'ml_telco_cdr.internetservice', 'ml_telco_cdr.onlinesecurity', 'ml_telco_cdr.onlinebackup', 'ml_telco_cdr.deviceprotection', 'ml_telco_cdr.techsupport', 'ml_telco_cdr.streamingtv', 'ml_telco_cdr.streamingmovies', 'ml_telco_cdr.contract', 'ml_telco_cdr.paperlessbilling', 'ml_telco_cdr.paymentmethod', 'ml_telco_cdr.monthlyrecharges', 'ml_telco_cdr.totalcharges', 'ml_telco_cdr.churn']
count is running ...

In [37]:
hive_df

,ml_telco_cdr.mobile_number,ml_telco_cdr.circle_id,ml_telco_cdr.circle_name,ml_telco_cdr.loc_og_t2o_mou,ml_telco_cdr.std_og_t2o_mou,ml_telco_cdr.loc_ic_t2o_mou,ml_telco_cdr.last_date_of_month,ml_telco_cdr.arpu,ml_telco_cdr.onnet_mou,ml_telco_cdr.offnet_mou,...,ml_telco_cdr.deviceprotection,ml_telco_cdr.techsupport,ml_telco_cdr.streamingtv,ml_telco_cdr.streamingmovies,ml_telco_cdr.contract,ml_telco_cdr.paperlessbilling,ml_telco_cdr.paymentmethod,ml_telco_cdr.monthlyrecharges,ml_telco_cdr.totalcharges,ml_telco_cdr.churn
0,7000000825,303,ASM,0,0,0,30-06-2014 00:00,91.3,0,2.76,...,No,No,Yes,Yes,Month-to-month,Yes,Credit card (automatic),99.3,918.75,No
1,7000000825,303,ASM,0,0,0,31-07-2014 00:00,108.51,2.01,0.41,...,No,No,Yes,No,One year,Yes,Bank transfer (automatic),62.15,2215.45,No
2,7000000825,303,ASM,0,0,0,31-08-2014 00:00,53.11,0,3.85,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.65,1057,No
3,7000000825,303,ASM,0,0,0,30-09-2014 00:00,0,,,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,19.95,927.1,No
4,7000000926,303,ASM,0,0,0,30-06-2014 00:00,658.19,85.59,366.78,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),110,7611.85,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39798,7001645485,303,ASM,0,0,0,31-08-2014 00:00,295.66,336.96,282.94,...,No,No,No,No,Month-to-month,No,Electronic check,75.35,273.4,No
39799,7002402763,303,ASM,0,0,0,30-06-2014 00:00,162.77,72.98,117.96,...,No,Yes,No,Yes,Two year,Yes,Bank transfer (automatic),49.85,1520.1,No
39800,7002402763,303,ASM,0,0,0,31-07-2014 00:00,34.45,2.43,15.79,...,Yes,Yes,Yes,Yes,One year,No,Mailed check,113.3,5032.25,No
39801,7002402763,303,ASM,0,0,0,31-08-2014 00:00,90.64,22.88,20.83,...,Yes,Yes,Yes,Yes,Two year,No,Mailed check,88.1,5526.75,No
39802,7002402763,303,ASM,0,0,0,30-09-2014 00:00,3.18,1.06,0,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),24.9,1195.25,No

In [47]:
hive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39803 entries, 0 to 39802
Data columns (total 86 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ml_telco_cdr.mobile_number           39803 non-null  object
 1   ml_telco_cdr.circle_id               39803 non-null  object
 2   ml_telco_cdr.circle_name             39803 non-null  object
 3   ml_telco_cdr.loc_og_t2o_mou          39803 non-null  object
 4   ml_telco_cdr.std_og_t2o_mou          39803 non-null  object
 5   ml_telco_cdr.loc_ic_t2o_mou          39803 non-null  object
 6   ml_telco_cdr.last_date_of_month      39803 non-null  object
 7   ml_telco_cdr.arpu                    39803 non-null  object
 8   ml_telco_cdr.onnet_mou               39803 non-null  object
 9   ml_telco_cdr.offnet_mou              39803 non-null  object
 10  ml_telco_cdr.roam_ic_mou             39803 non-null  object
 11  ml_telco_cdr.loc_og_t2t_mo           39803 non-null  object
 12  ml_telco_cdr.loc_og_t2m_mou          39803 non-null  object
 13  ml_telco_cdr.loc_og_t2f_mou          39803 non-null  object
 14  ml_telco_cdr.loc_og_t2c_mou          39803 non-null  object
 15  ml_telco_cdr.loc_og_mou              39803 non-null  object
 16  ml_telco_cdr.std_og_t2t_mou          39803 non-null  object
 17  ml_telco_cdr.std_og_t2m_mou          39803 non-null  object
 18  ml_telco_cdr.std_og_t2f_mou          39803 non-null  object
 19  ml_telco_cdr.std_og_t2c_mou          39803 non-null  object
 20  ml_telco_cdr.std_og_mou              39803 non-null  object
 21  ml_telco_cdr.isd_og_mou              39803 non-null  object
 22  ml_telco_cdr.spl_og_mou              39803 non-null  object
 23  ml_telco_cdr.og_others               39803 non-null  object
 24  ml_telco_cdr.total_og_mou            39803 non-null  object
 25  ml_telco_cdr.loc_ic_t2t_mou          39803 non-null  object
 26  ml_telco_cdr.loc_ic_t2m_mou          39803 non-null  object
 27  ml_telco_cdr.loc_ic_t2f_mou          39803 non-null  object
 28  ml_telco_cdr.loc_ic_mou              39803 non-null  object
 29  ml_telco_cdr.std_ic_t2t_mou          39803 non-null  object
 30  ml_telco_cdr.std_ic_t2m_mou          39803 non-null  object
 31  ml_telco_cdr.std_ic_t2f_mou          39803 non-null  object
 32  ml_telco_cdr.std_ic_t2o_mou          39803 non-null  object
 33  ml_telco_cdr.std_ic_mou              39803 non-null  object
 34  ml_telco_cdr.total_ic_mou            39803 non-null  object
 35  ml_telco_cdr.spl_ic_mou              39803 non-null  object
 36  ml_telco_cdr.isd_ic_mou              39803 non-null  object
 37  ml_telco_cdr.ic_others               39803 non-null  object
 38  ml_telco_cdr.total_rech_num          39803 non-null  object
 39  ml_telco_cdr.total_rech_amt          39803 non-null  object
 40  ml_telco_cdr.max_rech_amt            39803 non-null  object
 41  ml_telco_cdr.date_of_last_rech       39803 non-null  object
 42  ml_telco_cdr.last_day_rch_amt        39803 non-null  object
 43  ml_telco_cdr.date_of_last_rech_data  39803 non-null  object
 44  ml_telco_cdr.total_rech_data         39803 non-null  object
 45  ml_telco_cdr.max_rech_data           39803 non-null  object
 46  ml_telco_cdr.count_rech_2g           39803 non-null  object
 47  ml_telco_cdr.count_rech_3g           39803 non-null  object
 48  ml_telco_cdr.av_rech_amt_data        39803 non-null  object
 49  ml_telco_cdr.vol_2g_mb               39803 non-null  object
 50  ml_telco_cdr.vol_3g_mb               39803 non-null  object
 51  ml_telco_cdr.arpu_3g                 39803 non-null  object
 52  ml_telco_cdr.arpu_2g                 39803 non-null  object
 53  ml_telco_cdr.night_pck_user          39803 non-null  object
 54  ml_telco_cdr.monthly_2g              39803 non-null  object
 55  ml_telco_cdr.sachet_2g               39803 non-null  object
 56  ml_telco_cdr.monthly_3g              39803 non-null  object
 57  ml_telco_cdr.sachet_3g               39803 non-null  object
 58  ml_telco_cdr.fb_user                 39803 non-null  object
 59  ml_telco_cdr.aon                     39803 non-null  object
 60  ml_telco_cdr.aug_vbc_3g              39803 non-null  object
 61  ml_telco_cdr.jul_vbc_3g              39803 non-null  object
 62  ml_telco_cdr.jun_vbc_3g              39803 non-null  object
 63  ml_telco_cdr.sep_vbc_3g              39803 non-null  object
 64  ml_telco_cdr.lat                     39803 non-null  object
 65  ml_telco_cdr.longitude               39803 non-null  object
 66  ml_telco_cdr.gender                  39803 non-null  object
 67  ml_telco_cdr.seniorcitizen           39803 non-null  object
 68  ml_telco_cdr.partner                 39803 non-null  object
 69  ml_telco_cdr.dependents              39803 non-null  object
 70  ml_telco_cdr.tenure                  39803 non-null  object
 71  ml_telco_cdr.phoneservice            39803 non-null  object
 72  ml_telco_cdr.multiplelines           39803 non-null  object
 73  ml_telco_cdr.internetservice         39803 non-null  object
 74  ml_telco_cdr.onlinesecurity          39803 non-null  object
 75  ml_telco_cdr.onlinebackup            39803 non-null  object
 76  ml_telco_cdr.deviceprotection        39803 non-null  object
 77  ml_telco_cdr.techsupport             39803 non-null  object
 78  ml_telco_cdr.streamingtv             39803 non-null  object
 79  ml_telco_cdr.streamingmovies         39803 non-null  object
 80  ml_telco_cdr.contract                39803 non-null  object
 81  ml_telco_cdr.paperlessbilling        39803 non-null  object
 82  ml_telco_cdr.paymentmethod           39803 non-null  object
 83  ml_telco_cdr.monthlyrecharges        39803 non-null  object
 84  ml_telco_cdr.totalcharges            39803 non-null  object
 85  ml_telco_cdr.churn                   39803 non-null  object
dtypes: object(86)
memory usage: 26.1+ MB

In [48]:
# df['ml_telco_cdr.arpu'] = df['ml_telco_cdr.arpu'].astype('float')
# df['ml_telco_cdr.arpu'].dtype
csv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398295 entries, 0 to 398294
Data columns (total 86 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   MOBILE_NUMBER           398295 non-null  int64
 1   CIRCLE_ID               398295 non-null  int64
 2   CIRCLE_NAME             398295 non-null  object
 3   LOC_OG_T2O_MOU          394895 non-null  float64
 4   STD_OG_T2O_MOU          394895 non-null  float64
 5   LOC_IC_T2O_MOU          394895 non-null  float64
 6   LAST_DATE_OF_MONTH      396636 non-null  object
 7   ARPU                    398295 non-null  float64
 8   ONNET_MOU               379077 non-null  float64
 9   OFFNET_MOU              379077 non-null  float64
 10  ROAM_IC_MOU             379077 non-null  float64
 11  LOC_OG_T2T_MO           379077 non-null  float64
 12  LOC_OG_T2M_MOU          379077 non-null  float64
 13  LOC_OG_T2F_MOU          379077 non-null  float64
 14  LOC_OG_T2C_MOU          379077 non-null  float64
 15  LOC_OG_MOU              379077 non-null  float64
 16  STD_OG_T2T_MOU          379077 non-null  float64
 17  STD_OG_T2M_MOU          379077 non-null  float64
 18  STD_OG_T2F_MOU          379077 non-null  float64
 19  STD_OG_T2C_MOU          379077 non-null  float64
 20  STD_OG_MOU              379077 non-null  float64
 21  ISD_OG_MOU              379077 non-null  float64
 22  SPL_OG_MOU              379077 non-null  float64
 23  OG_OTHERS               379077 non-null  float64
 24  TOTAL_OG_MOU            398295 non-null  float64
 25  LOC_IC_T2T_MOU          379077 non-null  float64
 26  LOC_IC_T2M_MOU          379077 non-null  float64
 27  LOC_IC_T2F_MOU          379077 non-null  float64
 28  LOC_IC_MOU              379077 non-null  float64
 29  STD_IC_T2T_MOU          379077 non-null  float64
 30  STD_IC_T2M_MOU          379077 non-null  float64
 31  STD_IC_T2F_MOU          379077 non-null  float64
 32  STD_IC_T2O_MOU          379077 non-null  float64
 33  STD_IC_MOU              379077 non-null  float64
 34  TOTAL_IC_MOU            398295 non-null  float64
 35  SPL_IC_MOU              379077 non-null  float64
 36  ISD_IC_MOU              379077 non-null  float64
 37  IC_OTHERS               379077 non-null  float64
 38  TOTAL_RECH_NUM          398295 non-null  int64
 39  TOTAL_RECH_AMT          398295 non-null  int64
 40  MAX_RECH_AMT            398295 non-null  int64
 41  DATE_OF_LAST_RECH       388240 non-null  object
 42  LAST_DAY_RCH_AMT        398295 non-null  int64
 43  DATE_OF_LAST_RECH_DATA  102985 non-null  object
 44  TOTAL_RECH_DATA         102985 non-null  float64
 45  MAX_RECH_DATA           102985 non-null  float64
 46  COUNT_RECH_2G           102985 non-null  float64
 47  COUNT_RECH_3G           102985 non-null  float64
 48  AV_RECH_AMT_DATA        102985 non-null  float64
 49  VOL_2G_MB               398295 non-null  float64
 50  VOL_3G_MB               398295 non-null  float64
 51  ARPU_3G                 102985 non-null  float64
 52  ARPU_2G                 102985 non-null  float64
 53  NIGHT_PCK_USER          102985 non-null  float64
 54  MONTHLY_2G              398295 non-null  int64
 55  SACHET_2G               398295 non-null  int64
 56  MONTHLY_3G              398295 non-null  int64
 57  SACHET_3G               398295 non-null  int64
 58  FB_USER                 102985 non-null  float64
 59  AON                     398295 non-null  int64
 60  AUG_VBC_3G              398295 non-null  float64
 61  JUL_VBC_3G              398295 non-null  float64
 62  JUN_VBC_3G              398295 non-null  float64
 63  SEP_VBC_3G              398295 non-null  float64
 64  LAT                     398295 non-null  float64
 65  LONGITUDE               398295 non-null  float64
 66  gender                  398295 non-null  object
 67  seniorcitizen           398295 non-null  int64
 68  partner                 398295 non-null  object
 69  dependents              398295 non-null  object
 70  tenure                  398295 non-null  int64
 71  phoneservice            398295 non-null  object
 72  multiplelines           398295 non-null  object
 73  internetservice         398295 non-null  object
 74  onlinesecurity          398295 non-null  object
 75  onlinebackup            398295 non-null  object
 76  deviceprotection        398295 non-null  object
 77  techsupport             398295 non-null  object
 78  streamingtv             398295 non-null  object
 79  streamingmovies         398295 non-null  object
 80  contract                398295 non-null  object
 81  paperlessbilling        398295 non-null  object
 82  paymentmethod           398295 non-null  object
 83  monthlyrecharges        398295 non-null  float64
 84  totalcharges            398295 non-null  float64
 85  churn                   398295 non-null  object
dtypes: float64(53), int64(13), object(20)
memory usage: 261.3+ MB

In [40]:
# csv_df['LOC_OG_T2O_MOU']
# hive_df['ml_telco_cdr.loc_og_t2o_mou']
# hive_df['ml_telco_cdr.loc_og_t2o_mou'] = pd.to_numeric(hive_df['ml_telco_cdr.loc_og_t2o_mou'], errors='coerce')
# df['points'] = pd.to_numeric(df['points'], errors='coerce')

In [41]:
hive_df['ml_telco_cdr.loc_og_t2o_mou']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
39798    0.0
39799    0.0
39800    0.0
39801    0.0
39802    0.0
Name: ml_telco_cdr.loc_og_t2o_mou, Length: 39803, dtype: float64

In [51]:

for ind,col in enumerate(hive_df.columns.values):
    try:
#         hive_df[col] = hive_df[col].astype('float')
        hive_df[col] = pd.to_numeric(hive_df[col], errors='ignore')
#         print(f'{col} is converted into the float')
        l.append(ind)
    except Exception as e:
        print(f'{ind} : {col}')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]

86

In [54]:
hive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39803 entries, 0 to 39802
Data columns (total 86 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ml_telco_cdr.mobile_number           39803 non-null  int64
 1   ml_telco_cdr.circle_id               39803 non-null  int64
 2   ml_telco_cdr.circle_name             39803 non-null  object
 3   ml_telco_cdr.loc_og_t2o_mou          39428 non-null  float64
 4   ml_telco_cdr.std_og_t2o_mou          39428 non-null  float64
 5   ml_telco_cdr.loc_ic_t2o_mou          39428 non-null  float64
 6   ml_telco_cdr.last_date_of_month      39803 non-null  object
 7   ml_telco_cdr.arpu                    39803 non-null  float64
 8   ml_telco_cdr.onnet_mou               37830 non-null  float64
 9   ml_telco_cdr.offnet_mou              37830 non-null  float64
 10  ml_telco_cdr.roam_ic_mou             37830 non-null  float64
 11  ml_telco_cdr.loc_og_t2t_mo           37830 non-null  float64
 12  ml_telco_cdr.loc_og_t2m_mou          37830 non-null  float64
 13  ml_telco_cdr.loc_og_t2f_mou          37830 non-null  float64
 14  ml_telco_cdr.loc_og_t2c_mou          37830 non-null  float64
 15  ml_telco_cdr.loc_og_mou              37830 non-null  float64
 16  ml_telco_cdr.std_og_t2t_mou          37830 non-null  float64
 17  ml_telco_cdr.std_og_t2m_mou          37830 non-null  float64
 18  ml_telco_cdr.std_og_t2f_mou          37830 non-null  float64
 19  ml_telco_cdr.std_og_t2c_mou          37830 non-null  float64
 20  ml_telco_cdr.std_og_mou              37830 non-null  float64
 21  ml_telco_cdr.isd_og_mou              37830 non-null  float64
 22  ml_telco_cdr.spl_og_mou              37830 non-null  float64
 23  ml_telco_cdr.og_others               37830 non-null  float64
 24  ml_telco_cdr.total_og_mou            39803 non-null  float64
 25  ml_telco_cdr.loc_ic_t2t_mou          37830 non-null  float64
 26  ml_telco_cdr.loc_ic_t2m_mou          37830 non-null  float64
 27  ml_telco_cdr.loc_ic_t2f_mou          37830 non-null  float64
 28  ml_telco_cdr.loc_ic_mou              37830 non-null  float64
 29  ml_telco_cdr.std_ic_t2t_mou          37830 non-null  float64
 30  ml_telco_cdr.std_ic_t2m_mou          37830 non-null  float64
 31  ml_telco_cdr.std_ic_t2f_mou          37830 non-null  float64
 32  ml_telco_cdr.std_ic_t2o_mou          37830 non-null  float64
 33  ml_telco_cdr.std_ic_mou              37830 non-null  float64
 34  ml_telco_cdr.total_ic_mou            39803 non-null  float64
 35  ml_telco_cdr.spl_ic_mou              37830 non-null  float64
 36  ml_telco_cdr.isd_ic_mou              37830 non-null  float64
 37  ml_telco_cdr.ic_others               37830 non-null  float64
 38  ml_telco_cdr.total_rech_num          39803 non-null  int64
 39  ml_telco_cdr.total_rech_amt          39803 non-null  int64
 40  ml_telco_cdr.max_rech_amt            39803 non-null  int64
 41  ml_telco_cdr.date_of_last_rech       39803 non-null  object
 42  ml_telco_cdr.last_day_rch_amt        39803 non-null  int64
 43  ml_telco_cdr.date_of_last_rech_data  39803 non-null  object
 44  ml_telco_cdr.total_rech_data         10245 non-null  float64
 45  ml_telco_cdr.max_rech_data           10245 non-null  float64
 46  ml_telco_cdr.count_rech_2g           10245 non-null  float64
 47  ml_telco_cdr.count_rech_3g           10245 non-null  float64
 48  ml_telco_cdr.av_rech_amt_data        10245 non-null  float64
 49  ml_telco_cdr.vol_2g_mb               39803 non-null  float64
 50  ml_telco_cdr.vol_3g_mb               39803 non-null  float64
 51  ml_telco_cdr.arpu_3g                 10245 non-null  float64
 52  ml_telco_cdr.arpu_2g                 10245 non-null  float64
 53  ml_telco_cdr.night_pck_user          10245 non-null  float64
 54  ml_telco_cdr.monthly_2g              39803 non-null  int64
 55  ml_telco_cdr.sachet_2g               39803 non-null  int64
 56  ml_telco_cdr.monthly_3g              39803 non-null  int64
 57  ml_telco_cdr.sachet_3g               39803 non-null  int64
 58  ml_telco_cdr.fb_user                 10245 non-null  float64
 59  ml_telco_cdr.aon                     39803 non-null  int64
 60  ml_telco_cdr.aug_vbc_3g              39803 non-null  float64
 61  ml_telco_cdr.jul_vbc_3g              39803 non-null  float64
 62  ml_telco_cdr.jun_vbc_3g              39803 non-null  float64
 63  ml_telco_cdr.sep_vbc_3g              39803 non-null  float64
 64  ml_telco_cdr.lat                     39803 non-null  float64
 65  ml_telco_cdr.longitude               39803 non-null  float64
 66  ml_telco_cdr.gender                  39803 non-null  object
 67  ml_telco_cdr.seniorcitizen           39803 non-null  int64
 68  ml_telco_cdr.partner                 39803 non-null  object
 69  ml_telco_cdr.dependents              39803 non-null  object
 70  ml_telco_cdr.tenure                  39803 non-null  int64
 71  ml_telco_cdr.phoneservice            39803 non-null  object
 72  ml_telco_cdr.multiplelines           39803 non-null  object
 73  ml_telco_cdr.internetservice         39803 non-null  object
 74  ml_telco_cdr.onlinesecurity          39803 non-null  object
 75  ml_telco_cdr.onlinebackup            39803 non-null  object
 76  ml_telco_cdr.deviceprotection        39803 non-null  object
 77  ml_telco_cdr.techsupport             39803 non-null  object
 78  ml_telco_cdr.streamingtv             39803 non-null  object
 79  ml_telco_cdr.streamingmovies         39803 non-null  object
 80  ml_telco_cdr.contract                39803 non-null  object
 81  ml_telco_cdr.paperlessbilling        39803 non-null  object
 82  ml_telco_cdr.paymentmethod           39803 non-null  object
 83  ml_telco_cdr.monthlyrecharges        39803 non-null  float64
 84  ml_telco_cdr.totalcharges            39803 non-null  float64
 85  ml_telco_cdr.churn                   39803 non-null  object
dtypes: float64(53), int64(13), object(20)
memory usage: 26.1+ MB

In [55]:
hive_df['ml_telco_cdr.seniorcitizen']

0        0
1        0
2        0
3        0
4        0
        ..
39798    1
39799    0
39800    0
39801    0
39802    0
Name: ml_telco_cdr.seniorcitizen, Length: 39803, dtype: int64