## pandas functions and methods

In [6]:
# pd.DataFrame(np.random.rand(20,5))	5 columns and 20 rows of random floats
# pd.Series(my_list)	Create a series from an iterable my_list
# df.index = pd.date_range('1900/1/30', periods=df.shape[0])	Add a date index
# Viewing/Inspecting Data

# df.head(n)	First n rows of the DataFrame
# df.tail(n)	Last n rows of the DataFrame
# df.shape	Number of rows and columns
# df.info()	Index, Datatype and Memory information
# df.describe()	Summary statistics for numerical columns
# s.value_counts(dropna=False)	View unique values and counts
# df.apply(pd.Series.value_counts)	Unique values and counts for all columns
# Selection

# df[col]	Returns column with label col as Series
# df[[col1, col2]]	Returns columns as a new DataFrame
# s.iloc[0]	Selection by position
# s.loc['index_one']	Selection by index
# df.iloc[0,:]	First row
# df.iloc[0,0]	First element of first column
# Data Cleaning

# df.columns = ['a','b','c']	Rename columns
# pd.isnull()	Checks for null Values, Returns Boolean Arrray
# pd.notnull()	Opposite of pd.isnull()
# df.dropna()	Drop all rows that contain null values
# df.dropna(axis=1)	Drop all columns that contain null values
# df.dropna(axis=1,thresh=n)	Drop all rows have have less than n non null values
# df.fillna(x)	Replace all null values with x
# s.fillna(s.mean())	Replace all null values with the mean
# s.astype(float)	Convert the datatype of the series to float
# s.replace(1,'one')	Replace all values equal to 1 with 'one'
# s.replace([2,3],['two', 'three'])	Replace all 2 with 'two' and 3 with 'three'
# df.rename(columns=lambda x: x + 1)	Mass renaming of columns
# df.rename(columns={'old_name': 'new_ name'})	Selective renaming
# df.set_index('column_one')	Change the index
# df.rename(index=lambda x: x + 1)	Mass renaming of index
# Filter, Sort, and Groupby

# df[df[col] > 0.6]	Rows where the column col is greater than 0.6
# df[(df[col] > 0.6) & (df[col] < 0.8)]	Rows where 0.8 > col > 0.6
# df.sort_values(col1)	Sort values by col1 in ascending order
# df.sort_values(col2,ascending=False)	Sort values by col2 in descending order.5
# df.sort_values([col1,col2],ascending=[True,False])	Sort values by col1 in ascending order then col2 in descending order
# df.groupby(col)	Returns a groupby object for values from one column
# df.groupby([col1,col2])	Returns groupby object for values from multiple columns
# df.groupby(col1)[col2]	Returns the mean of the values in col2, grouped by the values in col1
# df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)	Create a pivot table that groups by col1 and calculates the mean of col2 and col3
# df.groupby(col1).agg(np.mean)	Find the average across all columns for every unique col1 group
# df.apply(np.mean)	Apply the function np.mean() across each column
# nf.apply(np.max,axis=1)	Apply the function np.max() across each row
# Join/Combine

# df1.append(df2)	Add the rows in df1 to the end of df2 (columns should be identical)
# pd.concat([df1, df2],axis=1)	Add the columns in df1 to the end of df2 (rows should be identical)
# df1.join(df2,on=col1, how='inner')	SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. The 'how' can be 'left', 'right', 'outer' or 'inner'
# Statistics

# df.describe()	Summary statistics for numerical columns
# df.mean()	Returns the mean of all columns
# df.corr()	Returns the correlation between columns in a DataFrame
# df.count()	Returns the number of non-null values in each DataFrame column
# df.max()	Returns the highest value in each column
# df.min()	Returns the lowest value in each column
# df.median()	Returns the median of each column
# df.std()	Returns the standard deviation of each column
# Importing Data

# pd.read_csv(filename)	From a CSV file
# pd.read_table(filename)	From a delimited text file (like TSV)
# pd.read_excel(filename)	From an Excel file
# pd.read_sql(query, connection_object)	Read from a SQL table/database
# pd.read_json(json_string)	Read from a JSON formatted string, URL or file.
# pd.read_html(url)	Parses an html URL, string or file and extracts tables to a list of dataframes
# pd.read_clipboard()	Takes the contents of your clipboard and passes it to read_table()
# pd.DataFrame(dict)	From a dict, keys for columns names, values for data as lists
# Exporting Data

# df.to_csv(filename)	Write to a CSV file
# df.to_excel(filename)	Write to an Excel file
# df.to_sql(table_name, connection_object)	Write to a SQL table
# df.to_json(filename)	Write to a file in JSON format

In [7]:
# pandas functions and methods
1.Series(sequence)=>it takes sequence like list,tuple,string,etc...
2.series_object.index()/range()=>we can also provide own index like list,index,etc
3.ndim# it tells the dimention
4.shape# it tells the rows and columns
5.dtype# it tells datatype
6.python_indexing and data_structure_indexing
7.loc  # data structure indexing(means an indexing which is provided by us to the series)
8.iloc #python indexing
9.unique# it gives the unique value
10.nunique# it gives the total no of unique elements
11.value_counts()# it gives the frequesncy of the unique elements
12.values# it converts the data_structure into n-dimentional array
13.tolist()#converting data_structure into list
14.read_csv('file_name')
15.head()# it gives the first 5 values
16.tail()# it gives the last 5 values
17.columns# it gives the column name
18.isnull()#it detects the missing values
19.sum()#
20.mean()
21.info()# it gives the whole information about the data
22.describe()#it gives the statical data
23.SibSp#
24.crosstab()#
25.min()  and max()# it provides the minimum and maximum value
26.isin()#
27.between(initial_value,final_value)
28.interval_range(start,end,frequency)
29.cut(-,-)
30.#series.info()#We can't use info() method for Series,otherwise it'll give error.

SyntaxError: invalid syntax (<ipython-input-7-b59d67f02526>, line 2)

In [11]:
import pandas as pd
pd.__version__

'0.25.1'

In [12]:
# For practice refer to w3resource

In [13]:
# non-numeric data  can be converted with help of pandas
#series and dataframe

In [14]:
import pandas as pd
s1=pd.Series(['python','c','c++','java'])
s1    #non numeric thingds is object in pandas

0    python
1         c
2       c++
3      java
dtype: object

In [15]:
import pandas as pd
s1=pd.Series(['Pankaj','Jaiswal','village','Tareta'])
s1

0     Pankaj
1    Jaiswal
2    village
3     Tareta
dtype: object

In [16]:
s2=pd.Series(['python','c','c++','java'])
s2.index=['a','b','c','d'] # to give the index by own
tup=(1,2,3,4,5)
s3=pd.Series(['name','pankaj','jaiswal','district','basti'],index=tup)
s2,s3

(a    python
 b         c
 c       c++
 d      java
 dtype: object, 1        name
 2      pankaj
 3     jaiswal
 4    district
 5       basti
 dtype: object)

In [17]:
import pandas as pd
s1=pd.Series(['Pankaj','Jaiswal','Village','Tareta'])
s1.index=['a:','b','c','d']
s1

a:     Pankaj
b     Jaiswal
c     Village
d      Tareta
dtype: object

In [18]:
s1=pd.Series(['python','c','c++','java'],range(10,6,-1))
print(s1)
print(s1.index)# it tells the indices of the elements
print()
s2=pd.Series(['hello','how','are','you'],range(1,5))
print(s2)

10    python
9          c
8        c++
7       java
dtype: object
RangeIndex(start=10, stop=6, step=-1)

1    hello
2      how
3      are
4      you
dtype: object

In [24]:
i1=s1.index
i2=s3.index
print(i1,i2)

RangeIndex(start=10, stop=6, step=-1) Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [25]:
s2.index

RangeIndex(start=1, stop=5, step=1)

In [26]:
s2.ndim# its a 1-d

1

In [27]:
s3.ndim

1

In [28]:
s2.shape

(4,)

In [30]:
s2.dtype#object type is 'o'

dtype('O')

In [31]:
s2

1    hello
2      how
3      are
4      you
dtype: object

In [32]:
print(s2[1])# python indexing
print(s2[4])

hello
you

In [42]:
s3=pd.Series(['python','c','c++','java'],range(1,5))
s3

1    python
2         c
3       c++
4      java
dtype: object

In [43]:
print(s3[1])# data structure
#print(s3[0])#python index error it will give error

python

# loc and iloc

In [44]:
s3

1    python
2         c
3       c++
4      java
dtype: object

In [45]:
print(s3.loc[1])# data structure
print(s3.iloc[0])#python index

python
python

In [46]:
print(s2)
print(s2.iloc[-1])

1    hello
2      how
3      are
4      you
dtype: object
you

In [47]:
print(s3.iloc[-1])# to use python indexing you have to use iloc
# for data structure you have to use loc

java

# SLICING

In [48]:
print(s3)

1    python
2         c
3       c++
4      java
dtype: object

In [49]:
print(s3.iloc[1:3])# generally we should use iloc i.e python indexing not loc
# iloc is more and more familiar

2      c
3    c++
dtype: object

In [50]:
print(s3.iloc[::-1])# reversing the series

4      java
3       c++
2         c
1    python
dtype: object

In [51]:
print(s3.iloc[[2,3]])# accessing multiple elements in unordered manner

3     c++
4    java
dtype: object

In [52]:
# acces multipe elements unordered manner
print(s3.loc[[2,4]])# if we already know the index of the element then 
# we should use loc

2       c
4    java
dtype: object

In [53]:
# Unique elements
s3.unique

<bound method Series.unique of 1    python
2         c
3       c++
4      java
dtype: object>

In [54]:
s3.nunique()# Total no. of unique elements

4

In [55]:
#count frequency of unique elements
s3.value_counts()# Returns count in decreasing order

c++       1
python    1
c         1
java      1
dtype: int64

# convert data structure into array

In [67]:
x=s3.values# converting Series into array
print(x)
print(type(s3))
print(type(s3.values))
print(x.ndim)

['python' 'c' 'c++' 'java']
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
1

# convert data structure into list

In [68]:
l3=s3.tolist()# converting Series into list
l1=s1.tolist();
print(type(l3))
print(type(l1))

<class 'list'>
<class 'list'>

# After Exam ''20th, January 2020''

In [ ]:
import pandas as pd
import numpy as np

In [70]:
df=pd.read_csv('/home/pankaj/Dataset2/Titanic.csv')# To read dataset
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [71]:
df.head(3)#starting three

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [76]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [77]:
df.tail(3)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [78]:
df.columns# for columns name

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [79]:
df.shape

(891, 12)

In [81]:
df.dtypes#Here object means string datatype

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Gender          object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df.isnull().sum()# it gives the missing data about ...

In [ ]:
df.isnull().mean()

In [ ]:
df.info()

In [ ]:
df.describe()#stastical data

In [ ]:
df.SibSp.value_counts()

In [ ]:
df.Gender.value_counts()

In [ ]:
# The above value_counts() works like this,according to me
# This code is written by me.
count=0
for i in df.Gender.values:
    if i=='male':
        count+=1
print(f'male = {count}')
print(f'female = {len(df.Gender.values)-count}' )

In [ ]:
df.Survived.value_counts()

In [ ]:
gen_sur=pd.crosstab(index=df['Gender'],columns=df['Survived'])
gen_sur# categorical data means category

In [ ]:
gen_sur=pd.crosstab(index=[df['Gender'],df['Pclass']],columns=df['Survived'])
gen_sur# categorical data means category

In [ ]:
df.Age.min(),df.Age.max()

In [ ]:
df[(df.Age>=20) & (df.Age<=30)].shape[0]

In [ ]:
df[df.Age.isin(range(21,30))].shape[0]

In [ ]:
df[df.Age.between(21,30)].shape[0]

In [ ]:
age_interval=pd.interval_range(start=0,end=80,freq=10)
age_interval

In [ ]:
df['Age_Group']=pd.cut(df['Age'],bins=age_interval)
df.head()

In [ ]:
df['Age_Group'].value_counts()

In [ ]:
df[['Age_Group','Name']]

In [4]:
pd.crosstab(index=df['Pclass'],columns=df['Age_Group'])

NameError: name 'pd' is not defined

# 21/01/2020

In [ ]:
df.groupby('Pclass')

In [ ]:
def impute_age(cols):
    Age-cols[0]
    Pclass=cols[1]
    if pd.isnull(Age):
        if Pclass==1:
            return 38
        elif Pclass==2:
            return 30
        else :
            return 25
    else:
        return Age

In [ ]:
#df['Age']=df[['Age','Pclass']].apply(impute_age,axis=1)

In [ ]:
df['Fare'].min(),df['Fare'].max()

In [ ]:
fare_interval=pd.interval_range(start=0,end=513,freq=50)
df['Fare_gr']=pd.cut(df['Fare'],bins=fare_interval)
df.head()

In [ ]:
df['Fare_gr'].value_counts()

In [ ]:
# df.drop(['Name','Ticket','Cabin','Fare_gr','Age_Group'],axis=1,inplace=True)

# 19th,January 2020 , Harshit Vashisht

In [ ]:
#kaggle.com and data.world for datasets

In [ ]:
# command to open the zip file==>unzip filename

# Reading csv files using pandas

In [ ]:
import pandas as pd
movies_data=pd.read_csv('/home/pankaj/Downloads/tmdb-movie-metadata/tmdb_5000_credits.csv')
movies_data

In [ ]:
type(movies_data)#DataFrame

In [ ]:
movies_data.shape

In [ ]:
movies_data.columns#It gives the all columns of the datashets

In [ ]:
movies_data.index#It gives the all index of the datashets

In [ ]:
movies_data.head()# It  provides top 5 rows

In [ ]:
movies_data.tail()# It provides the last 5 rows

In [ ]:
movies_data.head(10)# starting 10 rows

In [ ]:
movies_data.tail(10)# last 10 rows

In [ ]:
movies_data.info()
# object means string is stored in that columns i.e
#title       4803 non-null object

In [ ]:
movies_data.describe()

# Selecting columns

In [ ]:
import pandas as pd

In [ ]:
movies_csv=pd.read_csv('/home/pankaj/Downloads/tmdb-movie-metadata/tmdb_5000_movies.csv')
movies_csv.head()

In [ ]:
movies_csv['budget']

In [ ]:
#movies_csv['budget','original_title']# This will generate error
#you have to pass a list for more than 1 columns

In [ ]:
movies_csv[['budget','original_title']]

In [ ]:
type(movies_csv['budget'])# series==columns

In [ ]:
type(movies_csv[['budget']])# Now it becomes DataFrame

In [ ]:
movies_csv['budget']#Series

In [ ]:
movies_csv[['budget']]#DataFrame

In [ ]:
movies_csv[['original_title','original_language','vote_count','runtime']]

In [ ]:
movies_csv[['original_title','original_language','runtime']].head()

# Columns selection

In [ ]:
# for row selection ,simply we use python indexing
movies_csv[:1]

# iloc(location based indexing)

In [ ]:
movies_csv.iloc[0]

In [ ]:
type(movies_csv.iloc[0])

In [ ]:
movies_csv.iloc[:5]#Series

In [ ]:
type(movies_csv.iloc[:5])#DataFrame

In [ ]:
movies_csv.iloc[[0,5,10,15]]

In [5]:
movies_csv.iloc[[0,5,10,15],:7]#accessing rows and column simultaneously

NameError: name 'movies_csv' is not defined

In [ ]:
movies_csv.iloc[[0,5,10,15],[6,0,2]]#accessing rows and column simultaneously

# Loc

In [ ]:
movies_csv.head(3)

In [ ]:
movies_csv.loc[0]

In [ ]:
movies_csv.loc[0:1]#here 1 is included <-------------------------------------------

In [ ]:
movies_data=pd.read_csv('/home/pankaj/Downloads/tmdb-movie-metadata/tmdb_5000_movies.csv'
                      ,index_col='original_title')
movies_data.head(5)

In [ ]:
movies_data.loc['Spectre']

In [ ]:
movies_data.loc[['Spectre','Avatar']]

In [ ]:
movies_data.loc[['Spectre','Avatar'],['budget','original_language','release_date','vote_average']]

In [ ]:
# Problem
happiness_data=pd.read_csv('/home/pankaj/Downloads/world-happiness/2019.csv')
happiness_data.head(5)

In [ ]:
GDP=happiness_data['GDP per capita']
x=happiness_data.shape
country,gdp=[],[]
country=list(range(x[0]))
gdp=np.linspace(1,GDP)
print(gdp)

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(country,GDP)
plt.plot(country,GDP)
plt.xlabel('COUNTRY')
plt.ylabel('GDP')
plt.show()

In [ ]:
#1.Find top 5 happiest countries
happiness_data.head(5)

In [ ]:
#2.Find least 5  happiest countries.
happiness_data.tail(5)

In [ ]:
#3.Print all the columns names
x=happiness_data.columns
print(f'Total no. of column is {len(x)}')
print(x)

In [ ]:
#4.Print row index and meta data information
happiness_data.index,happiness_data.info

In [ ]:
#5.Use iloc and find the countries with happiness index from 5th to 10th.
happiness_data.iloc[5:11]

In [ ]:
#6.Change index_col and find the happiness rank o Japan , India and Pakistan.
happiness_data=pd.read_csv('/home/pankaj/Downloads/world-happiness/2019.csv',index_col='Country or region')
happiness_data.loc[['Japan','India','Pakistan'],'Overall rank']

In [ ]:
happiness_data.head(1)

## Series in pandas

In [ ]:
series=happiness_data['Overall rank']#Single column is series
type(series)

In [ ]:
DataFrame=happiness_data[['Overall rank','Score']]#More than one column is datafram
type(DataFrame)

In [ ]:
DataFrame.info()

In [ ]:
#series.info()#We can't use info() method for Series,otherwise it'll give error

In [ ]:
series=movies_data['runtime']
series

In [ ]:
series.sum()# It sums the total value of series,means total of runti me

In [ ]:
series.size# it also counts the missing values

In [ ]:
series.count()#It only counts the non-zero values

In [ ]:
# Total no. of missing values 
series.size-series.count()

In [ ]:
series.isnull().sum()# Total no. of missing values like above method

In [ ]:
series.mean()#It counts the mean of whole series

In [ ]:
series.std()# It counts

In [ ]:
series.median()# It gives the median

In [ ]:
series.min()# It gives the minimum value out of series

In [ ]:
series.max()# It gives the maximum value out of the series

In [ ]:
series.unique()# It gives the unique values,it only works for Series not for DataFrame

In [ ]:
series.unique()# It gives the total no. of unique values including missing(nan) values

In [ ]:
series.nunique(dropna=False)# dropna  is the missing values,it works for DataFrame
                            # as well as Series

In [ ]:
series.nunique(dropna=True)

In [ ]:
series.nunique()# It gives the total no. of unique values excluding missing values

In [ ]:
series.value_counts()#It counts the frequency of an interval

In [ ]:
series.value_counts(ascending=True)


## How to create own Series  without DataFrame

In [ ]:
#You can create Series with any kind of sequence,ex-> list,tuple,dictionary,numpy-array
anime=['My Hero Academia','Death note','Sword Art Online','One Punch Man',
       'Domestic Girlfriend',]
genre=['Shounen','Shounen','Action Adventure','Action',
      'Sports/Josei']
series=pd.Series(anime)#Making of Series
series

In [ ]:
type(series)

In [ ]:
series=pd.Series(anime,name='Animation Movies')#Making of Series with names
series

In [ ]:
import pandas as pd
series=pd.Series(genre,index=genre,name='Pankaj Jaiswal')

In [ ]:
series

In [ ]:
anime=['My Hero Academia','Death note','Sword Art Online','One Punch Man',
       'Domestic Girlfriend',]
import numpy as np
x=np.array(anime)
series=pd.Series(genre,index=anime)# Creating Series with the numpy array
series

In [ ]:
dic={       'My Hero Academia'   :            'Shounen',
            'Death note      '    :            'Shounen',
            'Sword Art Online'    :   'Action Adventure',
            'One Punch Man   '    :             'Action',
            'Domestic Girlfriend' :       'Sports/Josei'
}
series=pd.Series(dic,name='Dictionary Series')
series

In [ ]:
movies_data=pd.read_csv('/home/pankaj/Downloads/tmdb-movie-metadata/tmdb_5000_movies.csv',
                       usecols=['runtime'],squeeze=True)
movies_data

In [ ]:
type(movies_data)