In [2]:
import pandas as pd 
df = pd.DataFrame() 
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df = pd.DataFrame([[100,'pankaj',39],[101,'radhe_shyam',40]]) 
df

     0            1   2
0  100       pankaj  39
1  101  radhe_shyam  40

In [25]:
type(df)

pandas.core.frame.DataFrame

labels = column names 
index = row numbers

In [39]:
df = pd.DataFrame([[100,'pankaj',39],[101,'radhe_shyam',40]],columns=['c1','c2','c3'])
df

    c1           c2  c3
0  100       pankaj  39
1  101  radhe_shyam  40

In [60]:
df = pd.DataFrame([[0,'pankaj',39],[101,'radhe_shyam',40]],
                  columns = ['roll_no','first_name','exam_marks'] )
df

   roll_no   first_name  exam_marks
0        0       pankaj          39
1      101  radhe_shyam          40

In [61]:
df = pd.DataFrame([[100,'pankaj',39],[101,'radhe_shyam',40]],
                  columns = ['roll_no','first_name','exam_marks'],
                  index = ['first_row','second_row'])
df

            roll_no   first_name  exam_marks
first_row       100       pankaj          39
second_row      101  radhe_shyam          40

In [62]:
df.reset_index(drop=True)

   roll_no   first_name  exam_marks
0      100       pankaj          39
1      101  radhe_shyam          40

In [8]:
import pandas as pd
data=pd.read_csv('/home/pankaj/------------------------------------------------------------data science------------------------------------------------------------/clothes.txt')
# print(data)
x=dict(data)
for i in x.values():print(i)

Series([], Name: {"size":{"0":"small", dtype: object)
Series([], Name: 1:"medium", dtype: object)
Series([], Name: 2:"large", dtype: object)
Series([], Name: 3:"small", dtype: object)
Series([], Name: 4:"medium", dtype: object)
Series([], Name: 5:"medium"}, dtype: object)
Series([], Name: price:{"0":10, dtype: object)
Series([], Name: 1:12, dtype: object)
Series([], Name: 2:15, dtype: object)
Series([], Name: 3:11, dtype: object)
Series([], Name: 4:10, dtype: object)
Series([], Name: 5:10}, dtype: object)
Series([], Name: brand:{"0":"cob", dtype: object)
Series([], Name: 1:"peter", dtype: object)
Series([], Name: 2:"monte", dtype: object)
Series([], Name: 3:"monte", dtype: object)
Series([], Name: 4:"cantabil", dtype: object)
Series([], Name: 5:"cob"}}, dtype: object)

In [38]:
with open('/home/pankaj/------------------------------------------------------------data science------------------------------------------------------------/clothes.txt') as file:
    data=file.read()

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [37]:
data

'{"size":{"0":"small","1":"medium","2":"large","3":"small","4":"medium","5":"medium"},"price":{"0":10,"1":12,"2":15,"3":11,"4":10,"5":10},"brand":{"0":"cob","1":"peter","2":"monte","3":"monte","4":"cantabil","5":"cob"}}'