In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
##California House Pricing Dataset
from sklearn.datasets import fetch_california_housing
california_df=fetch_california_housing()

california_df

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [7]:
df=pd.DataFrame(california_df.data,columns=california_df.feature_names)
df['Target']=california_df.target
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [8]:
## Taking Sample Data
df=df.sample(frac=0.25) 
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Target
4469,3.1442,50.0,4.708709,0.906907,1093.0,3.282282,34.09,-118.16,1.621
3111,2.1458,30.0,5.153184,1.275387,1481.0,2.549053,35.62,-117.68,0.524
3513,5.7490,36.0,5.822368,0.973684,938.0,3.085526,34.26,-118.48,2.380
15149,4.0806,19.0,5.942308,1.061538,1621.0,3.117308,32.90,-116.90,1.892
14643,4.4097,34.0,6.378882,1.031056,1659.0,2.576087,32.78,-117.19,2.520
...,...,...,...,...,...,...,...,...,...
2628,4.2054,23.0,5.321101,1.073394,320.0,2.935780,40.67,-124.14,1.306
14645,3.7650,30.0,4.181126,0.974125,3185.0,4.847793,32.77,-117.19,2.380
14622,3.7381,34.0,4.883495,0.947573,1594.0,3.095146,32.78,-117.16,1.650
16617,2.7344,23.0,5.964158,1.272401,629.0,2.254480,35.39,-120.86,1.883
10096,3.8194,34.0,5.034130,1.088737,698.0,2.382253,33.93,-117.94,1.860

In [9]:
#independent features
X=df.iloc[:,:-1]
#dependent features
y=df.iloc[:,-1]

In [10]:
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
4469,3.1442,50.0,4.708709,0.906907,1093.0,3.282282,34.09,-118.16
3111,2.1458,30.0,5.153184,1.275387,1481.0,2.549053,35.62,-117.68
3513,5.7490,36.0,5.822368,0.973684,938.0,3.085526,34.26,-118.48
15149,4.0806,19.0,5.942308,1.061538,1621.0,3.117308,32.90,-116.90
14643,4.4097,34.0,6.378882,1.031056,1659.0,2.576087,32.78,-117.19

In [11]:
### train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [12]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()

regressor.fit(X_train,y_train)

y_pred=regressor.predict(X_test)

y_pred

array([1.789, 1.333, 0.758, ..., 1.791, 2.523, 4.1  ])

In [13]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,y_test)

score

0.51915858212889

In [14]:
## Hyperparameter Tunning
parameter={
 'criterion':['squared_error','friedman_mse','absolute_error','poisson'],
  'splitter':['best','random'],
  'max_depth':[1,2,3,4,5,6,7,8,10,11,12],
  'max_features':['auto', 'sqrt', 'log2']
    
}
regressor=DecisionTreeRegressor()

#https://scikit-learn.org/stable/modules/model_evaluation.html
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import GridSearchCV
regressorcv=GridSearchCV(regressor,param_grid=parameter,cv=2,scoring='neg_mean_squared_error')

regressorcv.fit(X_train,y_train)

GridSearchCV(cv=2, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='neg_mean_squared_error')

In [15]:
regressorcv.best_params_

{'criterion': 'absolute_error',
 'max_depth': 6,
 'max_features': 'auto',
 'splitter': 'best'}

In [16]:
y_pred=regressorcv.predict(X_test)

r2_score(y_pred,y_test)

0.461104194423662

## ---------------------------

In [17]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion = 'absolute_error',max_depth=6,max_features='auto',splitter='best')

regressor.fit(X_train,y_train)

y_pred=regressor.predict(X_test)

y_pred

array([1.456 , 1.015 , 1.038 , ..., 1.667 , 1.5885, 2.071 ])

In [18]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,y_test)

score

0.4649353203034057