# Lecture-1

In [21]:
string = 'shubham'  
for ind,val in enumerate(string):
    print(f'{ind} : {val}')
string[1::3]

0 : s
1 : h
2 : u
3 : b
4 : h
5 : a
6 : m

'hh'

In [15]:
student1 = 'subh' 
student2 = 'mina' 
record = {'subh':56,'sonu':56,'monu':85} 
def f():
    for i in range(5):
        if i == 3:
            return i 
            break  
f()
#     if stu == student1:
#         print(record[student1])

3

In [ ]:
l = [] 
for i in l:
    print(i) 
else:
    print('else block')

In [7]:
id = input('id : ') 
if id is not None:
    print(id,'if block') 
if id:
    print(id,'elif block') 
print(type(None),type(id))

id : None
None if block
None elif block
<class 'NoneType'> <class 'str'>

In [1]:
import pandas as pd
df=pd.read_csv('C:/Users/Dell/Downloads/fruits.csv')
df

    diameter  weight FruitName
0        3.0      30    Banana
1        6.0     100     Apple
2        6.1      95     Apple
3        3.2      35    Banana
4        5.5      80     Apple
5        7.1     120    Banana
6        2.5      60    Banana
7        2.3     100    Banana
8        4.8      70     Apple
9        4.8      79     Apple
10       5.8     120     Apple
11       2.6      85    Banana
12       6.0     110     Apple
13       6.3      95     Apple
14       3.0      40    Banana
15       3.5      25    Banana
16       5.5     100     Apple
17       7.5     120     Apple
18       2.5      50    Banana
19       2.7      40    Banana
20       4.8      90     Apple
21       5.8      90     Apple

In [2]:
X=df.iloc[:,:-1]
X#Here X is a DataFrame

    diameter  weight
0        3.0      30
1        6.0     100
2        6.1      95
3        3.2      35
4        5.5      80
5        7.1     120
6        2.5      60
7        2.3     100
8        4.8      70
9        4.8      79
10       5.8     120
11       2.6      85
12       6.0     110
13       6.3      95
14       3.0      40
15       3.5      25
16       5.5     100
17       7.5     120
18       2.5      50
19       2.7      40
20       4.8      90
21       5.8      90

In [3]:
X=df.iloc[:,:-1].values#Here X is converted into array with the help of .values()
X

array([[  3. ,  30. ],
       [  6. , 100. ],
       [  6.1,  95. ],
       [  3.2,  35. ],
       [  5.5,  80. ],
       [  7.1, 120. ],
       [  2.5,  60. ],
       [  2.3, 100. ],
       [  4.8,  70. ],
       [  4.8,  79. ],
       [  5.8, 120. ],
       [  2.6,  85. ],
       [  6. , 110. ],
       [  6.3,  95. ],
       [  3. ,  40. ],
       [  3.5,  25. ],
       [  5.5, 100. ],
       [  7.5, 120. ],
       [  2.5,  50. ],
       [  2.7,  40. ],
       [  4.8,  90. ],
       [  5.8,  90. ]])

In [4]:
y=df.iloc[:,-1].values
y

array(['Banana', 'Apple', 'Apple', 'Banana', 'Apple', 'Banana', 'Banana',
       'Banana', 'Apple', 'Apple', 'Apple', 'Banana', 'Apple', 'Apple',
       'Banana', 'Banana', 'Apple', 'Apple', 'Banana', 'Banana', 'Apple',
       'Apple'], dtype=object)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier()

In [6]:
knc.fit(X,y)

KNeighborsClassifier()

In [7]:
pred=knc.predict(X)#Internal exams(sessional exam)
pred

array(['Banana', 'Apple', 'Apple', 'Banana', 'Apple', 'Apple', 'Banana',
       'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple',
       'Banana', 'Banana', 'Apple', 'Apple', 'Banana', 'Banana', 'Apple',
       'Apple'], dtype=object)

In [8]:
a=['sonu','monu','chintu','pintu']
b=['sonu','pintu','chintu','pintu']

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
accuracy_score(a,b)

0.75

In [11]:
accuracy_score(y,pred)#accuracy_score(known ouput,predicted output)

0.8636363636363636

# How to split dataset into training and testing

There are 3 ways ,we can split our dataset--------->
    >slicing -------------->poor method
    >random method
    >cross validation------>best method but we have to learn random                     splitting to learn new things.

In [12]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [13]:
X.shape

(22, 2)

In [14]:
y.shape

(22,)

In [15]:
#Splitting the dataset
X_train=X[:16,:]     #Training data
X_test=X[16:,:]      #Testing data

In [16]:
X_train.shape

(16, 2)

In [17]:
X_test.shape

(6, 2)

In [18]:
y_train=y[:16]
y_test=y[16:]

In [19]:
y_train.shape

(16,)

In [20]:
y_test.shape

(6,)

In [21]:
knc=KNeighborsClassifier()
knc.fit(X_train,y_train)

KNeighborsClassifier()

In [22]:
pred_train=knc.predict(X_train)# like Sessional exam or  we can say internal evaluation
pred_test=knc.predict(X_test)

In [23]:
accuracy_score(y_train,pred_train)

0.75

In [24]:
accuracy_score(y_test,pred_test)

1.0

# bias means gap

Bias(ouput of training and actual output) and Varience(ouput of training and testing dataset):
-----------------
    Bias     = Difference b\w actual output and predictions of training set
    Varience = Difference b\w train pred and test pred.
    
    High Bias:
        >Underfitting
    Low Bias and High Varience:
        >Overfitting
    Low Bias and Low Varience:<------------------------------
        >Just Right
    Low Bias and Low Varience:<------------------------------
        >Underfitting with generalised model

# Lecture-2

In [25]:
# kaggle.com <to get the dataset>

In [26]:
from sklearn.datasets import load_iris

In [27]:
iris=load_iris()#It's a bunch object
type(iris)#Bunch object is like a dictionary

sklearn.utils.Bunch

In [28]:
print(iris.DESCR)#To check the description of the bunch object

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [29]:
#Attributes means features

In [30]:
X=iris['data']#It's a feature matrix
X

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [31]:
y=iris['target']#target i.e response vector
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [32]:
x_train=X[:100,:]
x_test=X[100:,:]

In [33]:
x_train.shape

(100, 4)

In [34]:
x_test.shape

(50, 4)

In [35]:
y_train=y[:100]
y_test=y[100:]

In [36]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier()
knc.fit(x_train,y_train)

KNeighborsClassifier()

In [37]:
pred_train=knc.predict(x_train)
pred_test=knc.predict(x_test)

In [38]:
print(f'Training Score {accuracy_score(y_train,pred_train)}')

Training Score 1.0

In [39]:
print(f'Testing Score {accuracy_score(y_test,pred_test)}')

Testing Score 0.0

Machine Learning:
    >Supervised learning
        >Binary     Classification
        >Multiclass Classification
    >Unsupervisedcement  learning
    >Reinforcementcement learning

In [42]:
import pandas as pd
columns=['sepal_length','sepal_width','petal_length','petal_width']
df=pd.DataFrame(X,columns=columns)
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [43]:
#We can do the above task in other way ,like...
df=pd.DataFrame(X,columns=iris['feature_names'])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [44]:
df['class']=y
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# Random Splitting

Random splitting:
-----------------
    >It is a good idea to split dataset into train and test set using random sampling
    >sklearn lib provides train_test_split functin for this activity.

sklearn.neighbors       <-----KNeighborsClassifier
sklearn.metrics         <-----accuracy_score
sklearn.datasets        <-----load_iris
sklearn.model_selectoin <-----train_test_spllit

In [53]:
from sklearn.model_selection import train_test_split
train,test=train_test_split([1,2,3,4,5,6,7,8,9,10])
print(train,test)

[4, 2, 6, 1, 7, 5, 10] [3, 8, 9]

In [56]:
train,test=train_test_split([1,2,3,4,5,6,7,8,9,10],random_state=10)#random_state means to fix the train and test values
print(train,test)

[7, 4, 2, 1, 8, 5, 10] [9, 3, 6]

In [62]:
train,test=train_test_split([1,2,3,4,5,6,7,8,9,10],random_state=10,train_size=8)
print(train,test)

train,test=train_test_split([1,2,3,4,5,6,7,8,9,10],random_state=10,test_size=2)
print(train,test)

train,test=train_test_split([1,2,3,4,5,6,7,8,9,10],random_state=10,train_size=6,test_size=2)
print(train,test)

train,test=train_test_split([1,2,3,4,5,6,7,8,9,10],random_state=10,train_size=.8)#This is the best way to split the dataset
print(train,test)

[6, 7, 4, 2, 1, 8, 5, 10] [9, 3]
[6, 7, 4, 2, 1, 8, 5, 10] [9, 3]
[6, 7, 4, 2, 1, 8] [9, 3]
[6, 7, 4, 2, 1, 8, 5, 10] [9, 3]

In [64]:
train,test=train_test_split([[1,2],[3,4],[5,6],[7,8],[9,10]],random_state=10)
print(train,test)

[[1, 2], [9, 10], [3, 4]] [[5, 6], [7, 8]]

In [79]:
train_x,test_x,train_y,test_y=train_test_split([[1,2],[3,4],[5,6],[7,8],[9,10]],[1,2,3,4,5],random_state=10)
print('train_x = ',train_x,'test_x = ',test_x)
print('train_y = ',train_y,'test_y = ',test_y)

train_x =  [[1, 2], [9, 10], [3, 4]] test_x =  [[5, 6], [7, 8]]
train_y =  [1, 5, 2] test_y =  [3, 4]

In [88]:
train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=10)
knc=KNeighborsClassifier()
knc.fit(train_x,train_y)
pred_train=knc.predict(train_x)
pred_test=knc.predict(test_x)
print('Training Score : ',accuracy_score(train_y,pred_train))
print('Testing Score : ',accuracy_score(test_y,pred_test))

Training Score :  0.9732142857142857
Testing Score :  0.9736842105263158

# Online shopping dataset

In [152]:
df=pd.read_csv('online_shop.csv')
print(df)
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
knc=KNeighborsClassifier()
train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=10)
# knc.fit(train_x,train_y)

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [147]:
# knc=KNeighborsClassifier()
# train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=10)
# knc.fit(train_x,train_y)#It is giving ValueError due to gender column i.e the categorical data that should'nt be in the training dataset but it may be in the target column

## Removing the ValueError

In [165]:
df=pd.read_csv('online_shop.csv')
df['Gender']=df['Gender'].map({'Female':0,'Male':1})
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [174]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1]
# print(X.shape,y.shape)
train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=10)
knc.fit(train_x,train_y)
pred_train=knc.predict(train_x)
pred_test=knc.predict(test_x)
pred_train.shape
print('Training Score : ',accuracy_score(train_y,pred_train))
print('Testing Score : ',accuracy_score(test_y,pred_test))

Training Score :  0.8766666666666667
Testing Score :  0.88

# Fruit Dataset

In [181]:
#In fruit dataset when we applying random sampling then the accuracy is going very bad why ...
df=pd.read_csv('C:/Users/Dell/Downloads/fruits.csv')
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
train_x,test_x,train_y,test_y=train_test_split(X,y,random_state=10)
knc.fit(train_x,train_y)
pred_train=knc.predict(train_x)
pred_test=knc.predict(test_x)
print('Training Score : ',accuracy_score(train_y,pred_train))
print('Testing Score : ',accuracy_score(test_y,pred_test))

Training Score :  0.9375
Testing Score :  0.5

# Lecture-3

How K-Nearest Neighbors (KNN) works internally:
    ===========================================
        >distance(d)=sigma(|A-B|**p)**(1/p) <----Standard formula
        >In classification problem each featur represents a dimention.
        >A(x1,y1)-------------------B(x2,y2)
            >d=((|x2-x1|**p)+(|y2-y1|**p))**(1/p)
                    >If we put p=2 ------>Euclidean Distance Formula
                    >If we put p=1 ------->Manhattan Distance Formula
            >A(x1,y1,z1)-------------------B(x2,y2,z2)
            >d=((|x2-x1|**p)+(|y2-y1|**p)+(|z2-z1|**p))**(1/p)

Step-1
        >Compute Distance from all training  points.
Step-2
        >Select K-nearest neighbors,here K means no. of neighbors.
Step-3
        >Use max voting to predict final class.
Que:What will happen in case of tie?
    if k=10
    mango---->4
    banana--->2
    apple---->4
Ans:
    Final class will be decided based on natural(dictionary) order
    example:
        mango,apple---->tie
        in natural(dictionary) order
        apple will be final predicted class

Default Values:
    (distance function)metric       --->minkowski
                       p            --->2
                       (n_neighbors)--->5

# Feature Scaling

Feature Scaling:
----------------
>It is process to make all values of all features within a range.
>so that all features will contribute eqully to predict the output.
    x1    x2
    1     20
    2.8   45
    1.5   35
    2.1   56.4
range of x1:(1 to 2.8)
range of x2:(20 to 56.4)
There are multiple techniques of Feature Scaling:
-------------------------------------------------
    >MinMaxScaler
    >MaxAbsScaler
    >StandardScaler
    >Binarizer
    >Normalizer